# --- Core ---
Django==5.2.6
djangorestframework==3.16.1
gunicorn==23.0.0

# --- Database ---
psycopg2-binary==2.9.10
sqlparse==0.5.3

# --- Utilities ---
python-dotenv==0.21.0
requests==2.28.1
urllib3==1.26.12
pytz==2022.7.1

# --- Optional (for async & APIs) ---
aiohttp==3.8.4
aiosqlite==0.17.0
anyio==3.6.2
attrs==22.2.0

python-decouple==3.8

